.contact-form input, .textarea {
	border: none !important;
	background-color: #1e1d1d9e !important;
	border-radius: 0 !important;
	border-bottom: 2px solid cyan !important;
	outline: 0 !important;
}
.btn.btn-info.send-btn {
	background: #1e1d1d9e;
	border: none;
	border-bottom: 2px solid cyan;
	border-radius: 0;
	color: cyan;
}